repos:
  - repo: local
    hooks:
      - id: typst-compile
        name: Typst compile main.typ
        entry: >-
          bash -c '
          OUTPUT=$(typst compile template/main.typ --root . 2>&1);
          echo "$OUTPUT";
          if echo "$OUTPUT" | grep -qE "(error|warning)"; then
            exit 1;
          fi;
          typst compile template/main.typ;
          git add template/main.pdf
          '
        language: system
        pass_filenames: false
