repos:
  - repo: local
    hooks:
      - id: typst-test
        name: Run Typst tests
        entry: bash -c '
          TEST_OUTPUT=$(tt run --font-path fonts 2>&1);
          echo "$TEST_OUTPUT";
          if echo "$TEST_OUTPUT" | grep -qE "(error|warning)"; then
            exit 1;
          fi; '
        language: system
        pass_filenames: false

      - id: typst-compile
        name: Compile main.typ only if modified
        language: system
        entry: bash -c '
          COMPILE_OUTPUT=$(typst compile template/main.typ template/main.pdf 2>&1);
          echo "$COMPILE_OUTPUT";
          if echo "$COMPILE_OUTPUT" | grep -qE "(error|warning)"; then
            exit 1;
          fi; '
        pass_filenames: false
        files: ^template/main\.typ$
